<?xml version="1.0"?>

<model>
  <name>RFIDTag</name>
  <version>1.0</version>
  <sdf>model.sdf</sdf>

  <author>
    <name>Artur Khazetdinov</name>
    <email>artur.khazetdinov@gmail.com</email>
  </author>

  <description>
    Using wireless transmitter for simulation RFID tags.
  </description>
</model>
